.slide {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical center */
  align-items: center;       /* horizontal center */

  text-align: center;
  
  color: white;

  cursor: pointer;
}

.slide-title {
  font-size: 1.2rem;
  opacity: 0.7;
  margin-bottom: 1rem;
}

.slide-value {
  font-size: 3.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.slide-subtitle {
  font-size: 1rem;
  opacity: 0.8;
}
